<h2>Lista de productos</h2>

  {{#each products}}
        <div>
            <h2>{{this.title}}</h2>
            <p>Description: {{this.description}}</p>
            <p>Price: ${{this.price}}</p>
            <!-- Agrega más detalles del producto según sea necesario -->
        </div>
    {{/each}}